*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Container{
    display: flex;
    margin: 0% 10%;
    width: 80%;
    height: 100dvh;
}
.SideMenu{
width: 18%;
border: 1px solid black;
height: 100%;
background-color: #000037;
}
.Title{
    display: flex;
    padding: 22px 15px 20px 15px;
    gap: 6px;
}
.Title i{
    color: white;
    
}
.Title h1{
    font-size: 20px;
    color: #ffffff;
}
.List{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    color: white;
    margin: 0px 20px;
    gap: 20px;
    font-size: 12px;
    font-weight: normal;
}
.sideN{
    display: flex;
    justify-content: space-between;
    gap:40px;

}
.sideN p{
    font-size: 9px;
    color: rgb(255, 250, 250);
}
.task1{
    /* border: 2px solid red; */
    background-color: #30308c;
    padding: 5px auto;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
    height: 30px;
}
.task1 p{
    font-size: 14px;
}
.List > div{
    width: 150px;
}
.sideN1{
    display: flex;
    text-align: center;
}
.sideN1 i{
    margin-right: 15px;
    padding-left: 10px;
}
/* .sideN1 h4{
    padding: 12px;
} */

.List ul li:first-of-type{
    background-color: #30308c;
    
}
.Profile{
    color: #fff;
    font-size: 12px;
    display: flex;
    padding: 5px;
    gap: 10px;
    border-radius: 5px;
    background-color: #30308c;
    position: fixed;
    bottom: 50px;
    margin-left: 5px;
}
.Profile p{
    font-size: 10px;
    color: rgb(227, 205, 205);
}
.Profile::after{
    content: '>';
    display: inline-block;
    float: right;
    transform: rotate(90deg);
    margin-left: 20px;
    margin-right: 20px;
    
}
.Main{
    width: 82%;
    height: 100%;
    padding: 0px 3.45%;
    background-color: rgb(245, 240, 240);
}

.Nav{
    width: 100%;
    height:10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
}
.head img{
    vertical-align: middle;
}

.Nav h2{
    font-size: 16px;

}

.SearchInput{
    /* width: 100%; */
    height: 30px;
    border: 1px solid grey;
    text-align: center;
    background-color: white;
    display: flex;
    gap: 5px;
    border: none;
    border-radius: 5px;

}
.SearchInput i{
    text-align: center;
    vertical-align: middle;
    margin-top: 8px;
    margin-left: 2px;
    color: grey;
}

.SearchInput input{
    border: none;
    border-radius: 5px;
   
}


.Sales{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;
    margin-bottom: 2%;
}
.item {
    width: 23%;
    height: 100%;
  
    display: flex;
    align-items: center;
    /* flex: 1; */
    padding: 5px 0px 5px 10px;
    box-sizing: border-box;
    justify-content: space-between;
gap: 2px;
}
.item,.ProductSell,.OverView ,.Customers{
    background-color: white;
    box-shadow: 1px 1px 1px rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
}

.Earning{
    width: 45%;
    border-radius: 50%;
   background-color: rgb(216, 245, 226);
   padding: 22px 10px 25px 12px;  
}
.center-icon{
    text-align: center;
  }
.item1 .center-icon i{

    color:rgb(76, 170, 76);
  }
.item2{
    background-color: rgb(246, 225, 239); 
}
.item2 .center-icon i{
    color:rgb(194, 76, 147);
  }
.item3{
    background-color: rgb(225, 246, 244); 
}
.item3 .center-icon i{
    color:rgb(93, 93, 210);
  }
.item4{
    background-color: rgb(246, 189, 189); 
}
.item4 .center-icon i{
    color:rgb(233, 69, 69);
  }
.rightToImg{
    padding: 15px 0px 0px 0px;
    width: 55%;
    text-align: start;
}
.rightToImg p {
    font-size: 12px;
    font: 100;
    }
    .rightToImg h2 {
        font-size: 14px;
        }
        .rightToImg h6 {
            font-size: 12px;
            font-weight: 500;
            }
.rightToImg span {
color: green;
font-size: 10px;
font: bold;
}
.Charts{
    width: 100%;
    height: 38%;
    display: flex;
    justify-content: space-between;
    gap: 4%;
    margin-bottom: 3%;
}
.Charts div{
    /* width: 68%; */
    /* height: 330px; */

}

.OverView{
    width:68%;
    padding: 15px;
}
.over{
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin-bottom: 10px;
}
.over h2{
    padding: 0;
    margin:0;
     font-size: 14px;
}
.over p{
     font-size: 12px;
     color: rgb(133, 129, 129);
}
.over1{
     font-size: 13px;
     color: rgb(133, 129, 129);
}
.over1::after{
    content: '>';
    display: inline-block;
    transform: rotate(90deg);
    margin-left: 12px;   
}
.Customers{
    width: 28%;
}
.Customers img{
    width: 100%;
    height: 100%;
}

  
.ProductSell{
    width: 100%;
    height: 26%;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}
.Sellbar{
    height: 35%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.Sellbar h1{
    padding-top: 0;
}

.rightProductSide{
display: flex;
align-items: center;
color: grey;
gap: 50px;
}
.InputSearch{
    text-align: center;
    display: flex;
    box-shadow: 0px 0px 5px rgb(233, 231, 231);
    height: 23px;
}
.InputSearch input{
    border: none;
    color: black;  
}
.InputSearch i{
    text-align: center;
    vertical-align: middle;
    margin: 12px 5px 0px 5px;
}
.timeSpan{
    font-size: 12px;
}
.timeSpan::after{
    content: '>';
    display: inline-block;
    transform: rotate(90deg);
    margin-left: 12px;   
}
.custom-table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  .custom-table th, .custom-table td {
    padding: 7px;
    text-align: left;
  }
  .custom-table{
    font-size: 13px;
  }
  thead{
    font-size: 12px;
    columns: grey;
    
  }
  tbody{
    border-top: 1px solid #c9c6c6; 

  }
   th.first-column,  td.first-column {
    width: 65%;

  }
  .col{
    color: grey;
    
  }
  tr {
    margin-bottom: 10px; /* Adjust the margin value as needed */
  }
  
  .row{
    margin-bottom: 40px;
  }
 
  .firstCol{
    display: flex;
    align-items: center;
    gap: 15px;

  }
  .firstCol h5{
font-size: 13px;
  }
  .firstCol p{
    font-size: 13px;
    color: rgb(82, 80, 80);
      }
  .imgK img{
    vertical-align: middle;
    border-radius: 5px;

  }
  
  
